{% extends 'interactWBL/base.html' %}

{% block title_block %}
    Register
{% endblock %}

<!-- instead of display the full options in the sidebar, only display link back to landing -->
{% block no_sidebar %}
      <li class="nav-item">
            <a class="nav-link" href="{% url 'interactWBL:dashboard' %}">
                <i class="fas fa-home"></i></i>
                <span>Back to landing</span>
            </a>
        </li>
{% endblock %}

{% block content_block %}
    <h1>Register here</h1>
    <br>
    <h3>Important:
    </h3>
    <br>
    <h5>If you are a student or academic, you must register with you University of Glasgow email account, ending with @student.gla.ac.uk and @gla.ac.uk, respectively. </h5>
    <h5>Otherwise, the system will consider you a mentor.</h5>
    <br>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}

<!-- follows simple template format from Tango with Django-->