{% extends 'interactWBL/base.html' %}
{% load staticfiles %}
{% block content_block %}
    <div>
        <br>
        <p>
             This is the landing page. It will include a login, a register and an about button.
        </p>

        <br>
        <button class="btn btn-primary" onClick="alert('You clicked the button using JavaScript.');">
            Click Me - I run JavaScript
        </button>
        <br>
        <button class="btn btn-primary" id="about-btn"> Click me for JQuery</button>
    </div>
    <div id="msg">Hello - I'm here for a JQuery Example too</div>
{% endblock %}
