{% extends 'interactWBL/base.html' %}

{% load staticfiles %}

{% block title_block %}
    {{ user.username }}'s Profile
{% endblock %}

{% block content_block %}
	<div class="page-header">
		<h1>{{selecteduser.username}}'s profile</h1>
	</div>
    <br>
	<div id="profile_data">
		{% if selecteduser.username == user.username %}
    	<form method="post" action=".">
    		{% csrf_token %}
    		{{ form.as_p }}
    		<input type="submit" value="Update" />
    	</form>
        {% else %}
            <p>{{ selecteduser.first_name }} {{ selecteduser.last_name }}</p>
		<p><strong>Email:</strong> {{selecteduser.email}}</p>


		{% endif %}
	</div>
{% endblock %}